@model NYBE.Models.SearchViewModels.BookSearchViewModel

@{
    ViewData["Title"] = "Find Books";
}

<h2>Find Books</h2>
<form asp-controller="Search" asp-action="Index">
    <div class="form-group row">
        <label class="col-lg-1" for="price">Search: </label>
        <input type="text" name="generalSearch" class="form-control"/>
    </div>
    <!-- Used for "advanced" search-->
    <!-- <div>
        Title: <input type="text" name="title" />
    </div>
    <div>
        Author: <input type="text" name="author" />
    </div>
    <div>
        ISBN: <input type="text" name="isbn" />
    </div>  -->
    <div class="form-group row">
        <label class="col-lg-1" for="condition">Course: </label>
        <select name="courseName" class="form-control">
            <option value="">All</option>
            @foreach (var course in Model.courses)
            {
                <option value=@course.Name>@Html.DisplayFor(modelItem => course.Name)</option>
            }
        </select>
    </div>

    <input type="submit" class="btn btn-success" value="Search" />
</form>

<br/>

@if (Model.bookList.Any())
{

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].AuthorLName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].AuthorFName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.bookList[0].Description)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].Edition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookList[0].Publisher)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.bookList)
            {
                <tr style="cursor:pointer" onclick="location.href = '@(Url.Action("books", new { bookId = book.ID }))'">
                    <th>
                        @Html.DisplayFor(modelItem => book.Title)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => book.AuthorLName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => book.AuthorFName)
                    </th>
                    @*<th>
                        @Html.DisplayFor(modelItem => book.Description)
                    </th>*@
                    <th>
                        @Html.DisplayFor(modelItem => book.Edition)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => book.ISBN)
                    </th>
                    <th>
                        @Html.DisplayFor(modmodelItemel => book.Publisher)
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
}

else{
    <h4>No results</h4>
}