@model  NYBE.Models.BookViewModels.PendingBookViewModel
@{
    ViewData["Title"] = "Approve Book";
}
<h2>Approve Book</h2>
<p>This will remove this book as "Pending."</p>
<p>Are you sure this is what you want to do?</p>
<br />

<form asp-controller="PendingBook" asp-action="Approve">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Title</label>
        <div class="col-md-3">
            <input asp-for="title" value="@Model.title" class="form-control" id="title" data-val-required="Title is required." />
        </div>
        <span class="text-danger field-validation-valid col-md-4 text-left" asp-validation-for="title"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Author Last Name</label>
        <div class="col-md-3">
            <input asp-for="authorLName" value="@Model.authorLName" class="form-control" id="authorLName" data-val-required="Author's last name is required." />
            <span class="text-danger field-validation-valid" data-valmsg-for="authorLName" data-valmsg-replace="true"></span>
        </div>
        <span class="text-danger field-validation-valid col-md-4 text-left" asp-validation-for="authorLName"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Author First Name</label>
        <div class="col-md-3">
            <input asp-for="authorFName" value="@Model.authorFName" class="form-control" id="authorFName" data-val-required="Author's first name is required." />
            <span class="text-danger field-validation-valid" data-valmsg-for="authorFName" data-valmsg-replace="true"></span>
        </div>
        <span class="text-danger field-validation-valid col-md-4 text-left" asp-validation-for="authorFName"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">ISBN</label>
        <div class="col-md-3">
            <input asp-for="isbn" value="@Model.isbn" class="form-control" id="isbn" data-val-required="ISBN is required." />
            <span class="text-danger field-validation-valid" data-valmsg-for="isbn" data-valmsg-replace="true"></span>
        </div>
        <span class="text-danger field-validation-valid col-md-4 text-left" asp-validation-for="isbn"></span>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Edition</label>
        <div class="col-md-3">
            <input asp-for="edition" value="@Model.edition" class="form-control" id="edition" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Publisher</label>
        <div class="col-md-3">
            <input asp-for="publisher" value="@Model.publisher" class="form-control" id="publisher" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" for="price">Description</label>
        <div class="col-md-3">
            <input asp-for="description" value="@Model.description" class="form-control" id="description" />
        </div>
    </div>

    <a asp-controller="PendingBook" asp-action="Manage" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-success">Save</button>

</form>