@model  NYBE.Models.BookViewModels.PendingBookViewModel

@{
    ViewData["Title"] = "Disable Book";
}

<div class="text-center">
    <h2>Disable Book</h2>
    <h4>Are you sure you want to disable this book?</h4>
</div>
<hr />
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">
                @if (Model.image != null)
                {
                    <img src="@Model.image" class="img-responsive" style="max-width:150px; max-height:200px;" />
                }
                else
                {
                    <i class="glyphicon glyphicon-book" style="font-size:200px; color:dimgrey;"></i>
                }
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <p><b>Author:</b> @Model.authorFName @Model.authorLName</p>
                <p><b>@Model.edition Edition</b></p>
                <p><b>ISBN:</b> @Model.isbn</p>
                <p><b>Description:</b> @Model.description</p>
                <p><b>Publisher:</b> @Model.publisher</p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
        <form asp-controller="PendingBook" asp-action="Disable">
            <div class="form-actions no-color">
                <a asp-action="Manage" class="btn btn-primary">Nahhh</a>
                <input type="button" value="Disable" class="btn btn-danger" data-toggle="modal" data-target="#disableModal" />
            </div>
            <!-- Modal -->
            <div class="modal fade" id="disableModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header alert-danger">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Disable Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to disable <b>@Model.title</b>?</p>
                            <p>User's will not be able to find this book in search results.</p>
                            <p>It will however, remain in users' transaction history.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Not Sure</button>
                            <button type="submit" class="btn btn-success">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
