@model NYBE.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>@Model.name's Profile</h1>

@if (Model.isAdmin == true)
{
    <h3 style="color: red">Admin</h3>
}

<p>Rating: @Model.rating</p>
<p>Phone Number: @Model.phone</p>
<p>Email: @Model.email</p>
<p>School: @Model.school.Name</p>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#listings">Listings</a></li>
    <li><a data-toggle="tab" href="#sold">Sold Books</a></li>
    <li><a data-toggle="tab" href="#bought">Bought Books</a></li>
</ul>
<div class="tab-content">
    <div id="listings" class="tab-pane fade in active">
        <h4>Book Listings</h4>
        @if (Model.listings.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Book</th>
                            <th>Course</th>
                            <th>Condition</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BookListing x in Model.listings)
                {
                            <tr>
                                <td> @x.ID</td>
                                <td> @x.Book.Title </td>
                                <td> @x.Course.Dept @x.Course.CourseNum - @x.Course.Name </td>
                                <td> @x.Condition </td>
                                <td> @string.Format("{0:c}", x.AskingPrice) </td>
                                <td><a asp-controller="Profile" asp-action="EditListing" asp-route-id="@x.ID" class="btn btn-success">Edit</a></td>
                                <td><a asp-controller="Profile" asp-action="DeleteListing" asp-route-id="@x.ID" class="btn btn-danger">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Books Listed!</p>
        }
    </div>


    <div id="sold" class="tab-pane fade">
        <h4>Books you sold:</h4>
        @if (Model.soldTransactions.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Buyer Name</th>
                            <th>Buyer Email</th>
                            <th>Book</th>
                            <th>Trans Amt</th>
                            <th>Condition</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TransactionLog x in Model.soldTransactions)
                {
                            <tr>
                                <td> @x.TransDate</td>
                                <td> @x.Buyer.FirstName @x.Buyer.LastName</td>
                                <td> @x.Buyer.Email</td>
                                <td> @x.Book.Title</td>
                                <td> @string.Format("{0:c}", x.SoldPrice)</td>
                                <td> @x.Condition</td>
                                <td> @x.TransRating</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Transaction History!</p>
            <p>Contribute to the economy and sell some books!</p>
        }
    </div>
    <div id="bought" class="tab-pane fade">
        <h4>Books you bought:</h4>
        @if (Model.boughtTransactions.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Seller Name</th>
                            <th>Seller Email</th>
                            <th>Book</th>
                            <th>Trans Amt</th>
                            <th>Condition</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TransactionLog x in Model.boughtTransactions)
                {
                            <tr>
                                <td> @x.TransDate</td>
                                <td> @x.Seller.FirstName @x.Seller.LastName</td>
                                <td> @x.Seller.Email</td>
                                <td> @x.Book.Title</td>
                                <td> @string.Format("{0:c}", x.SoldPrice)</td>
                                <td> @x.Condition</td>
                                <td> @x.TransRating</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Transaction History!</p>
            <p>Contribute to the economy and buy some books!</p>
        }
    </div>
</div>