@model NYBE.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>@Model.name's Profile</h1>

@if (Model.isAdmin == true)
{
    <h3 style="color: red">Admin</h3>
}

<p>Rating: @Model.rating</p>
<p>Phone Number: <a href="tel:+@Model.phone">@Model.phone</a></p>
<p>Email: <a href="mailto:@Model.email">@Model.email</a></p>
<p>Preferred Contact: @Model.preferredContact</p>
<p>School: @Model.school.Name</p>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#listings">Listings</a></li>
    <li><a data-toggle="tab" href="#sold">Sold Books</a></li>
    <li><a data-toggle="tab" href="#bought">Bought Books</a></li>
    <li><a data-toggle="tab" href="#wish">Wish List</a></li>
</ul>
<div class="tab-content">
    <div id="listings" class="tab-pane fade in active">
        <h4>Book Listings</h4>
        @if (Model.listings.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Book</th>
                            <th>Course</th>
                            <th>Condition</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BookListing x in Model.listings)
                {
                            <tr>
                                <td> @x.Book.Title </td>
                                <td> @x.Course.Dept @x.Course.CourseNum - @x.Course.Name </td>
                                <td> @x.Condition </td>
                                @if (x.AskingPrice > 0)
                                {
                                    <td> @string.Format("{0:c}", x.AskingPrice) </td>
                                }
                                else
                                {
                                    <td>Trade</td>
                                }
                                @if (Model.ownProfile)
                                {
                                    <td><a asp-controller="Transaction" asp-action="Sold" asp-route-id="@x.ID" class="btn btn-primary">Sold</a></td>
                                    <td><a asp-controller="Profile" asp-action="EditListing" asp-route-id="@x.ID" class="btn btn-success">Edit</a></td>
                                    <td><a asp-controller="Profile" asp-action="DeleteListing" asp-route-id="@x.ID" class="btn btn-danger">Delete</a></td>
                                }
                                else
                                {
                                    <td><a asp-controller="Transaction" asp-action="Buy" asp-route-id="@x.ID" class="btn btn-success">Buy</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h5>No Books Listed!</h5>
        }
    </div>


    <div id="sold" class="tab-pane fade">
        @if (Model.soldTransactions.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Buyer Name</th>
                            <th>Buyer Email</th>
                            <th>Book</th>
                            <th>Trans Amt</th>
                            <th>Condition</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TransactionLog x in Model.soldTransactions)
                {
                            <tr>
                                <td> @x.TransDate</td>
                                <td> @x.Buyer.FirstName @x.Buyer.LastName</td>
                                <td> @x.Buyer.Email</td>
                                <td> @x.Book.Title</td>
                                @if (x.SoldPrice > 0)
                                {
                                    <td> @string.Format("{0:c}", x.SoldPrice) </td>
                                }
                                else
                                {
                                    <td>Trade</td>
                                }
                                <td> @x.Condition</td>
                                <td> @x.TransRating</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h5>No Transaction History!</h5>
        }
    </div>
    <div id="bought" class="tab-pane fade">
        <h4>Books you bought:</h4>
        @if (Model.boughtTransactions.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Seller Name</th>
                            <th>Seller Email</th>
                            <th>Book</th>
                            <th>Trans Amt</th>
                            <th>Condition</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TransactionLog x in Model.boughtTransactions)
                {
                            <tr>
                                <td> @x.TransDate</td>
                                <td> @x.Seller.FirstName @x.Seller.LastName</td>
                                <td> @x.Seller.Email</td>
                                <td> @x.Book.Title</td>
                                @if (x.SoldPrice > 0)
                                {
                                    <td> @string.Format("{0:c}", x.SoldPrice) </td>
                                }
                                else
                                {
                                    <td>Trade</td>
                                }
                                <td> @x.Condition</td>
                                <td> @x.TransRating</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h5>No Transaction History!</h5>
        }
    </div>
    <div id="wish" class="tab-pane fade">
        @if (Model.wishList.Any())
            {
            <div class="table-responsive">
                <table class="table table-striped" id="bookListingTable">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Course</th>
                            <th>Condition</th>
                            <th>Price</th>
                            <th>Is For Sale?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<BookListing, bool> entry in Model.wishList)
                        {
                            <tr>
                                <td> @entry.Key.Book.Title </td>
                                <td> @entry.Key.Course.Dept @entry.Key.Course.CourseNum - @entry.Key.Course.Name </td>
                                <td> @entry.Key.Condition </td>
                                @if (entry.Key.AskingPrice > 0)
                                {
                                 <td> @string.Format("{0:c}", entry.Key.AskingPrice) </td>
                                }
                                else {
                                  <td>Trade</td>
                                }
                                @if (entry.Value)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                @if (Model.ownProfile)
                                {
                                    <td><a asp-controller="Profile" asp-action="EditListing" asp-route-id="@entry.Key.ID" class="btn btn-success">Edit</a></td>
                                    <td><a asp-controller="Profile" asp-action="DeleteListing" asp-route-id="@entry.Key.ID" class="btn btn-danger">Delete</a></td>
                                }
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h5>No books in Wish List!</h5>
        }
    </div>
</div>