@model  NYBE.Models.DataModels.EditListingViewModel

@{
    ViewData["Title"] = "Sell Book";
}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (document.getElementById('newCourseCheckBox').checked) {
            $('#courseForm').show();
            $('#courseIDContainer').hide();
        } else {
            $('#courseForm').hide();
            $('#courseDept').val('null');
            $('#courseName').val('null');
        }
    });
</script>

<h2 class="text-center">Sell Book</h2>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <hr />
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">
                @if (Model.book.Image != null)
                {
                    <img src="@Model.book.Image" class="img-responsive" style="max-width:150px; max-height:200px;" />
                }
                else
                {
                    <i class="glyphicon glyphicon-book" style="font-size:200px; color:dimgrey;"></i>
                }
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <p><b>Title:</b> @Model.book.Title</p>
                <p><b>Author:</b> @Model.book.AuthorFName @Model.book.AuthorLName</p>
                @if (!String.IsNullOrEmpty(Model.book.Edition))
                {
                    <p><b>@Model.book.Edition Edition</b></p>
                }
                <p><b>ISBN:</b> @Model.book.ISBN</p>
                <p><b>Description:</b> @Model.book.Description</p>
                <p><b>Publisher:</b> @Model.book.Publisher</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <br />
        <form asp-controller="Book" asp-action="Listing">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="row" name="courseIDContainer" id="courseIDContainer">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4 name="courseIDLabel" id="courseIDLabel">Course:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <select asp-for="courseID" id="courseID" class="form-control" name="courseID" re>
                            <option selected disabled hidden>Select Course</option>
                            @foreach (Course course in Model.courses)
                            {
                                <option value="@course.ID">@course.Dept - @course.CourseNum @course.Name</option>
                            }
                        </select>
                        <span class="text-danger field-validation-valid" asp-validation-for="courseID"></span>
                        <br />
                        <label name="courseIDHtml" id="courseIDHtml" hidden></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        <br />
                        <input type="checkbox" asp-for="newCourse" name="newCourseCheckBox" id="newCourseCheckBox" />
                        <label for="newCourse">Add new Course</label>
                    </div>
                </div>
            </div>
            <br />
            <div id="courseForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Department:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseDept" class="form-control" name="courseDept" id="courseDept" />
                            <span class="text-danger field-validation-valid" asp-validation-for="courseDept"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Course Number:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseID" class="form-control" type="number" value="" min="1" name="courseNum" id="courseNum" step="1" />
                            <span class="text-danger field-validation-valid" asp-validation-for="courseID"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Course Name:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseName" class="form-control" name="courseName" id="courseName" />
                            <span class="text-danger field-validation-valid" asp-validation-for="courseName"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Condition:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <select asp-for="condition" class="form-control" name="condition">
                            <option selected disabled hidden>Select Condition</option> <!--Show the previous condition-->
                            <option value="New">New</option>
                            <option value="Excellent">Excellent</option>
                            <option value="Good">Good</option>
                            <option value="Fair">Fair</option>
                            <option value="Bad">Bad</option>
                        </select>
                        <span class="text-danger field-validation-valid" asp-validation-for="condition"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Trade:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <input name="editTradeCheckBox" id="editTradeCheckBox" type="checkbox" data-toggle="toggle" @(Model.price < 0 ? "checked" : "")>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="editPriceContainer" class="form-group" @(Model.price < 0 ? "hidden" : "")>
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Price:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <input asp-for="price" class="form-control" type="number" value="" id="editPrice" step="0.01" />
                        <span class="text-danger field-validation-valid" asp-validation-for="price"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <a onclick="location.href = '@(Url.Action("Index", "Book", new { bookId = Model.book.ID }))'" class="btn btn-primary">Cancel</a>
                    <button type="submit" class="btn btn-success">Sell Book</button>
                </div>
            </div>
            @Html.HiddenFor(Model => Model.book.ID)
        </form>
    </div>
</div>


