@model  NYBE.Models.DataModels.EditListingViewModel
@{
    ViewData["Title"] = "Add to Wish List";
}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#newCourseChbx').change(function () {
            $('#courseForm').toggleClass('hidden');
        });
    });
</script>

<h2 class="text-center">Add to Wish List</h2>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <hr />
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">
                @if (Model.book.Image != null)
                {
                    <img src="@Model.book.Image" class="img-responsive" style="max-width:150px; max-height:200px;" />
                }
                else
                {
                    <i class="glyphicon glyphicon-book" style="font-size:200px; color:dimgrey;"></i>
                }
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <p><b>Title:</b> @Model.book.Title</p>
                <p><b>Author:</b> @Model.book.AuthorFName @Model.book.AuthorLName</p>
                @if (!String.IsNullOrEmpty(Model.book.Edition))
                {
                    <p><b>@Model.book.Edition Edition</b></p>
                }
                <p><b>ISBN:</b> @Model.book.ISBN</p>
                <p><b>Description:</b> @Model.book.Description</p>
                <p><b>Publisher:</b> @Model.book.Publisher</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <br />
        <form asp-controller="Book" asp-action="WishList">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Course:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <select asp-for="courseID" id="courseID" class="form-control" name="courseID">
                            <option selected disabled hidden>Select Course</option>
                            @foreach (Course course in Model.courses)
                            {
                                <option value="@course.ID">@course.Dept - @course.CourseNum @course.Name</option>
                            }
                        </select>
                        <br />
                        <input type="checkbox" asp-for="newCourse" id="newCourseChbx" />
                        <label for="newCourse">Add new Course</label>
                        <span class="text-danger field-validation-valid" asp-validation-for="courseID"></span>
                    </div>
                </div>
            </div>
            <br />
            <div id="courseForm" class="hidden">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Department:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseDept" class="form-control" id="courseDept" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Course Number:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseNum" class="form-control" type="number" id="courseNum" step="1" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h4>Course Name:</h4>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input asp-for="courseName" class="form-control" id="courseName" />
                            <span class="text-danger field-validation-valid" asp-validation-for="courseName"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Condition:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <select asp-for="condition" class="form-control" name="condition">
                            <option selected disabled hidden>Select Condition</option> <!--Show the previous condition-->
                            <option value="New">New</option>
                            <option value="Excellent">Excellent</option>
                            <option value="Good">Good</option>
                            <option value="Fair">Fair</option>
                            <option value="Bad">Bad</option>
                        </select>
                        <span class="text-danger field-validation-valid" asp-validation-for="condition"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Trade:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <input name="editTradeCheckBox" id="editTradeCheckBox" type="checkbox" data-toggle="toggle" @(Model.price < 0 ? "checked" : "")>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group" id="editPriceContainer" @(Model.price < 0 ? "hidden" : "")>
                    <div class="col-sm-2 col-sm-offset-1">
                        <h4>Price:</h4>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <input asp-for="price" class="form-control" type="number" min="0" value="" id="editPrice" step="0.01" />
                        <span class="text-danger field-validation-valid" asp-validation-for="price"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <a onclick="location.href = '@(Url.Action("Index", "Book", new { bookId = Model.book.ID }))'" class="btn btn-primary">Cancel</a>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
            @Html.HiddenFor(Model => Model.book.ID)
        </form>
    </div>
</div>