@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Manage Account";
}

<head>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
</head>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
  
   <div class="container">
    <form>
        <div class="form-group row">
            <h4 class="col-sm-1 col-sm-offset-2">Name:</h4>
            <label class="col-sm-6 text-center">@Model.FirstName @Model.LastName</label>
            <a asp-action="ChangeName" class="col-sm-1 btn btn-success">Edit</a>
        </div>
        <div class="form-group row">
            <h4 class="col-sm-1 col-sm-offset-2">Email:</h4>
            <label class="col-sm-6 text-center">@Model.Email</label>
            <a asp-action="ChangeEmail" class="col-sm-1 btn btn-success">Edit</a>
        </div>
        <div class="form-group row">
            <h4 class="col-sm-1 col-sm-offset-2">School:</h4>
            <label class="col-sm-6 text-center">@Model.School.Name</label>
            <a asp-action="ChangeSchool" class="col-sm-1 btn btn-success">Edit</a>
        </div>
        <div class="form-group row">
            <h4 class="col-sm-1 col-sm-offset-2">Phone Number:</h4>
            <label class="col-sm-6 text-center">@Model.PhoneNumber</label>
            <a asp-action="ChangePhoneNumber" class="col-sm-1 btn btn-success">Edit</a>
        </div>
        <div class="form-group row">
            <h4 class="col-sm-1 col-sm-offset-2">Password:</h4>
            <label class="col-sm-6 text-center">@Model.Password</label>
            <a asp-action="ChangePassword" class="col-sm-1 btn btn-success">Edit</a>
        </div>
    </form>
</div>
